<h1>Tasks#show</h1>
<p>Find me in app/views/tasks/show.html.erb</p>     

<%= @task.title %>
<div class= "task-show-item">
    <%= @task.content %>
    <div class = "task-time">
        <%= @task.created_at%>
    </div>
    <%= link_to("Edit","/tasks/#{@task.id}/edit") %>
    <%= link_to "Cancel", tasks_path, class: "back-link" %>
</div>