<!DOCTYPE html>
<html>
  <head>
    <%= javascript_importmap_tags %>
    <title>AppName</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if Rails.env.development? %>
      <script src="https://cdn.tailwindcss.com"></script>
    <% end %>
  </head>

  <body>
    <% if flash.any? %>
      <div class="flash-message">
        <% flash.each do |type, message| %>
          <% case type.to_s %>
          <% when 'notice' %>
            <div class="notice-message">
              <%= message %>
            </div>
          <% when 'alert' %>
            <div class="error-message">
              <%= message %>
            </div>
          <% when 'success' %>
            <div class="success-message">
              <%= message %>
            </div>
          <% else %>
            <div class="notice-message">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>                  
    <%= yield %>
  </body>
</html>
